# PostgreSQL
POSTGRES_PASSWORD=postgres

# Jwt Key - come up with it yourself
JWT_KEY= your-jwt-key

# RabbitMQ
RABBITMQ_USERNAME=guest
RABBITMQ_PASSWORD=guest

# Get from Google AI Studio
GEMINI_API_KEY=your-gemini-api-key

# Get from @BotFather
TELEGRAM_BOT_TOKEN=your-telegram-bot-token